<input type="text" [(ngModel)]="newTodoTitle" placeholder="Enter new todo" />
<button (click)="createTodo()">Add Todo</button>
<!-- [routerLink]="['/todo', todo.id]" -->
<div class="todo-container" *ngFor="let todo of todos">
  <!-- <li *ngFor="let todo of todos"> -->
  <div class="todo-text">
    <!-- Show input field when editing -->
    <input *ngIf="editingId === todo.id" [(ngModel)]="todo.todo" />
    <!-- Show updated text -->
    <span *ngIf="editingId !== todo.id">{{ todo.todo }}</span>
  </div>
  <div>
    <button
      class="btn btn-primary"
      *ngIf="editingId !== todo.id"
      (click)="editingId = todo.id"
    >
      ✏️ Edit
    </button>
  </div>
  <div>
    <button
      class="btn btn-success"
      *ngIf="editingId === todo.id"
      (click)="updateTodo(todo)"
    >
      ✔️ Save
    </button>
    <div
      #saveToast
      class="toast position-fixed top-0 end-0 m-3"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">Todo saved successfully!</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    #deleteModal
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this todo?</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="confirmDelete(todo)"
            data-bs-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-danger" (click)="openDeleteModal(todo)">X</button>
</div>
